#OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Composer lock does NOT affect project using this library
composer.lock

# Tools
/cli/composer.phar

# Composer libraries
/vendor

#IDE
/.idea
/.phpStormScatches

#logs
*.log*
*.slog*

#last but not least, for create empty folder
!**/.gitkeep
/.test
